main {
    overflow: visible;
    min-height: 100vh;
}

.apresentação-principal {
    height: calc(100vh - 40px);
    z-index: -2;
    position: relative;
}

.titulo-modulo {
    display: flex;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 999;
}

.titulo-modulo .pre-titulo,
.titulo-modulo .titulo {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 30px 20px;
    user-select: none;
    transition: width 2s ease;
}

.titulo-modulo .pre-titulo {
    justify-content: end;
    width: 120px;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.titulo-modulo .pre-titulo p {
    margin: 0;
    font-size: 11px;
    text-align: center;
    color: white;
}

.titulo-modulo .titulo {
    left: 50px;
    width: fit-content;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--cor-secundaria);
}

.titulo-modulo .pre-titulo h2,
.titulo-modulo .titulo h2 {
    color: white;
    -webkit-text-stroke: 1px var(--cor-primaria-light);
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
    opacity: 1;
}

.titulo-modulo .titulo.encolher {
    width: 0px;
    padding-left: 0;
    padding-right: 0;
}

.titulo-modulo .titulo.encolher h2 {
    opacity: 0;
}

.titulo-modulo .pre-titulo.encolher {
    padding: 5px 10px;
    display: block;
    width: 90px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 12px solid var(--cor-primaria-lighter);
}

.titulo-pagina {
    padding-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--cor-secundaria-light);
}

.section-header h4 {
    font-size: 24px;
    margin: 0;
    width: fit-content;
    color: var(--cor-primaria-dark);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.section-header span {
    transform: translateY(5px);
    color: var(--cor-primaria-dark);
    font-weight: bold;
}

.video-intro-container {
    display: flex;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;
    position: absolute;
    top: 80px;
    overflow: hidden;
}

.video-intro-container video {
    width: 100%;
    transform: translateY(60px);
    height: auto;
    object-fit: cover;
}

#play-pause,
#mute {
    position: absolute;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    z-index: 999;
}

#play-pause {
    left: 4%;
    bottom: 60px;
}

#mute {
    right: 4%;
    top: 30px;
}

#play-pause img,
#mute img {
    width: 100%;
    object-fit: cover;
}

.aulas-btn {
    z-index: 999;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 18px;
    border: 1px solid white;
}

.aulas-btn:hover {
    transition: 0.2s ease-in-out;
    border: 2px solid white;
}

.lista-preferências {
    width: 80%;
    margin: auto;
}

.lista-preferências ul {
    width: 100%;
    padding-left: 30px;
    margin: 10px auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    border: none !important;
}

.aba {margin-right: 25px;}

.content {
    width: 80%;
    margin: auto;
}

.moduloInfo {
    background-color: var(--cor-secundaria-light);
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 12px var(--sombra);
}

.geral {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-bottom: 60px;
    text-align: justify;
    padding: 10px 30px 10px 30px;
}

.descricao-modulo {
    flex: 1;
    position: relative;
}

.descricao-modulo .imgs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.descricao-modulo p {
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
}

.preview-expand-component {
    margin-bottom: 60px;
    max-width: 600px;
    padding: 10px 30px 10px 30px;
}

.preview-expand-component ul li {
    list-style: disc;
    font-size: 18px;
    line-height: 1.6em;
    color: var(--cor-primaria-darker);
}

.preview-expand-component h4 {
    margin-bottom: 30px;
    color: var(--cor-primaria-dark);
    font-weight: bold;
}

.preview-expand-component p {
    font-size: 18px;
    line-height: 1.6em;
}

.aulas {
    padding: 0 20px;
    margin-top: 10px;
    max-height: 750px;
    overflow-y: auto;
    position: relative;
}

.aulas::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.aulas::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.aula {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nome-aula {
    color: var(--cor-primaria-dark);
}

.descricao-aula {
    color: var(--cor-primaria-darker);
}

.info-aula {
    max-width: 350px;
    height: fit-content;
}

.aula-left-box {
    display: flex;
}

.aula section {
    display: flex;
    align-items: center;
    padding: 0 20px;
    max-width: 350px;
}

.opções-aula {
    display: flex;
    align-items: center;
}

#add-aula,
.opções-aula button {
    border: none;
    background-color: inherit;
    color: var(--cor-primaria-darker);
    font-size: 18px;
    margin-right: 10px;
    transition: transform 0.3s;
}

#add-aula {
    font-size: 25px;
}

#add-aula:hover,
.opções-aula button:hover {
    box-shadow: none;
    transform: scale(1.1);
}

#add-aula:hover .legenda,
.add-aula:hover .legenda,
.opções-aula button:hover .legenda {
    display: block;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.checkbox {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-left: 20px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--cor-secundaria-light);
    border: 2px solid var(--cor-primaria-darker);
    transition: background-color 0.3s, opacity 0.3s;
}

.checkmark i {
    color: var(--cor-secundaria);
    font-size: 14px;
    margin-top: 2px;
}

.checkbox:hover .checkmark {
    background-color: var(--cor-secundaria-lighter) !important;
}

.checkbox input[type="checkbox"]:checked~.checkmark {
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(25, 25, 25);
}

.checkbox input[type="checkbox"]:checked~.checkmark i {
    color: rgb(0, 201, 0);
}