main {
    min-width: 100%;
    margin: 0;
}

.lista-preferências {
    width: 82%;
    margin: auto;
}

.lista-preferências .barra {
    min-width: 100%;
    margin: auto;
}

.content {
    width: 82%;
    margin: 100px auto;
    margin-bottom: 150px;
}

.container {
    padding: 0px;
    padding-bottom: 60px;
    margin: 0px;
    position: relative;
}

.content h3 {
    color: var(--cor-primaria-dark);
    margin-bottom: 40px;
}

.campo {
    margin-bottom: 10px;
}

.campo label {
    margin-bottom: 3px;
}

.campo-texto {
    border-radius: 8px;
    padding: 8px 10px;
    color: var(--cor-primaria);
    background-color: black;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: 1px solid var(--cor-secundaria-lighter);
}

#descricao_curso {
    min-height: 200px;
}

.preview {
    min-width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid var(--cor-primaria-transparent-3);
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview img {
    height: 30px;
}

#logo, #favicon, #login-img-form {
    display: none;
}

.btn-file {
    display: block;
    background-color: var(--cor-primaria-transparent-3);
    color: var(--cor-secundaria);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
}

#cor_texto,
#cor_fundo {
    width: 100px;
}

#fontes {
    padding: 5px;
    display: block;
    height: 50px;
    background-color: transparent;
    width: 80%;
    color: var(--cor-primaria-dark);
    border: 1px solid var(--cor-primaria-transparent-3);
    cursor: pointer;
}

.login-area {
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--cor-primaria-transparent-3);
    height: 320px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.login-area .login-img-form {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

.banner-curso {
    flex: 1;
    height: 320px;
    position: relative;
}

.banner-curso img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-box {
    width: 35%;
    height: 320px;
    background-color: var(--cor-secundaria-lighter);
    box-shadow: 0px 0px 8px var(--sombra);
    padding: 30px 0;
}

.inputs {
    width: 100%;
    height: 20px;
    background-color: rgb(35, 35, 35);
    margin-bottom: 20px;
}

.btn-login {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--cor-primaria);
    margin: 30px auto;
}

.botoes-opcao {
    width: fit-content;
    position: absolute;
    right: 0;
    top: -70px;
    display: flex;
}

.botoes-opcao button,
.new-user button {
    height: fit-content;
    min-width: 0;
    min-height: 0;
    padding: 10px 20px;
}

.opcoes {
    width: 100%;
    padding-bottom: 30px;
}

.tabela {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    border-bottom: solid 1px var(--cor-secundaria-light);
    position: relative;
}

.cabecalho,
.celula {
    flex: 1;
    padding: 8px 0;
    font-weight: bold;
}

.cabecalho {
    background-color: var(--cor-secundaria-lighter);
    display: flex;
}

.celula {
    padding: 8px;
}

#permissao,
#cadastro {
    flex: 0.6;
}

#status {
    flex: 0.4;
}

#opcoes {
    flex: 0.6;
    display: flex;
    justify-content: end;
}

.celula button {
    margin-right: 20px;
    border: none;
    background-color: transparent;
    transition: all 1s ease;
}

.celula button i {
    color: var(--cor-primaria-dark);
}

.celula button:hover {
    transform: scale(1.1);
}

.celula.checkbox {
    position: relative;
    flex: 0.2;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #333;
    display: inline-block;
    cursor: pointer;
}

.checkbox input:checked+span {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}

.info-adicional {
    position: absolute;
    top: 135%;
    right: 15%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: var(--cor-secundaria-light);
    box-shadow: 0px 0px 10px var(--cor-primaria-transparent-3);
    z-index: 2;
}

.linha:hover .info-adicional {
    opacity: 1;
}

.linha:hover {
    background-color: var(--cor-secundaria-light);
}

.integracao {
    max-width: 280px;
    min-width: 280px;
    margin: 30px;
    margin-left: 0;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--sombra);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.integracao:hover {
    transform: translateY(-8px);
}

.integracao-logo {
    width: 100%;
    height: 280px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.integracao-logo img {
    width: 120px;
}

.integracao-info {padding: 10px 20px; background-color: var(--cor-secundaria-light);}

.integracao-info p {margin: 0;}