.lista-preferências {
    width: 80%;
    margin: auto;
}

.lista-preferências ul {
    min-width: 100%;
    margin: auto;
}

.content {
    width: 80%;
    margin: 40px auto;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    margin-bottom: 3px;
}

.campo-texto {
    border-radius: 8px;
    padding: 8px 10px;
    color: var(--cor-primaria);
    background-color: black;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    outline: 1px solid var(--cor-secundaria-lighter);
}

#descricao_curso {
    min-height: 200px;
}

.preview {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
    margin-right: 10px;
}

#cor_texto,
#cor_fundo {
    width: 100px;
}

#fontes {
    padding: 5px;
    display: block;
    height: 40px;
}