.relatorios {max-width: 960px; margin: auto;}

.relatorio {
    display: flex; 
    margin-bottom: 40px; 
    width: 280px; 
    height: 60px; 
    border: none;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria-light);
}

.relatorio:hover {
    transform: translateY(-5px);
    background-color: var(--cor-primaria-lighter);
}

.relatorio i {font-size: 20px;}

.lista-preferências {
    width: 100%;
}

.lista-preferências ul {
    min-width: 960px;
    margin: auto;
}

/* select simples */

.periodo-tempo {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
    display: flex;
}

.selecao-simples {
    display: inline-block;
}

.selecao-simples .descricao {
    font-weight: bold;
    color: var(--cor-primaria);
}

.periodo-tempo label {
    padding-left: 10px;
    width: 100%;
}

.container-select {
    font-weight: 600;
    width: 150px;
    height: 50px;
    background-color: var(--cor-secundaria-light);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px var(--cor-secundaria-transparent);
}

.container-select span {
    color: var(--cor-primaria);
}

.container-select:hover {
    background-color: var(--cor-secundaria-lighter);
    box-shadow: 0px 3px 12px var(--cor-secundaria-transparent-2);
}

.opçoes_selecao {
    display: flex;
    height: 50px;
    width: 130px;
    padding-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.opçoes_selecao.open~.items {
    display: block;
}

.flecha {
    margin-left: 5px;
}

.opçoes_selecao.open .flecha i {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.opçoes_selecao.disabled {
    cursor: not-allowed;
}

.items {
    position: absolute;
    max-height: 240px;
    overflow-y: auto;
    width: 260px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 16px;
    background-color: #ededed;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 9999;
}

.items::-webkit-scrollbar {
    width: 7px;
}

.items::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
    border-radius: 25px;
}

.items::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 25px;
}

.item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 0px;
}

.item:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.content {
    width: 960px;
    margin: auto;
}

.opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    margin: auto;
}

.filter-container {
    display: flex;
    max-width: 600px;
    align-items: center;
}

.pesquisar {
    padding-right: 20px;
    margin-left: 20px;
    flex: 1;
    height: 50px;
    border-radius: 8px;
}

.pesquisar input {
    height: 50px;
    border-radius: 8px;
    width: 100%;
}

.pesquisar button {
    border-radius: 0 8px 8px 0;
    background-color: transparent;
    border: none;
}

#exportar {
    width: 160px;
    height: 40px;
    background-color: var(--cor-secundaria-light);
    color: var(--cor-primaria);
    border: none;
}

.exportar .dropdown {
    width: 100px;
    left: -120px;
    top: 0;
    padding: 10px;
    background-color: var(--cor-secundaria-light);
    border-radius: 8px;
}

.exportar .dropdown button {
    background-color: transparent;
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: var(--cor-primaria);
}

.exportar .dropdown button:hover {
    background-color: var(--cor-secundaria-lighter);
}

.op-table {
    margin-top: 10px;
    margin-bottom: 20px;
}

.op-table button {
    margin-right: 10px;
    padding: 5px;
    background-color: transparent;
    color: var(--cor-primaria-darker);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

.op-table button:hover {
    background-color: var(--cor-secundaria-light);
}

.table {
    --bs-table-bg: var(--cor-secundaria-light) !important;
    --bs-table-border-color: transparent !important;
}

.table thead {
    --bs-table-accent-bg: var(--cor-secundaria-lighter);
    --bs-table-color: var(--cor-primaria-light);
}

.table tbody {
    --bs-table-color: var(--cor-primaria);
}

.table tr,
.table .td {
    text-align: center;
}

.grafico,
.dado {
    width: 100%;
    background-color: var(--cor-secundaria-lighter);
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 25px;
}

.grafico {
    height: 220px;
}

.dado {
    height: 100px;
    display: flex;
    align-items: center;
}

.dado i,
.dado label {
    color: var(--cor-primaria-light);
}

.dado i {
    margin-right: 20px;
    font-size: 20px;
}

.dado span {
    display: block;
    font-size: 18px;
    color: var(--cor-primaria-lighter);
}