.relatorios {max-width: 960px; margin: auto;}

.relatorio {
    display: flex; 
    margin-bottom: 40px; 
    width: 280px; 
    height: 60px; 
    border: none;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria-light);
}

.relatorio:hover {
    transform: translateY(-5px);
    background-color: var(--cor-primaria-lighter);
}

.relatorio i {font-size: 20px;}