.pesquisar {
    width: 600px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 15px;
}

.pesquisar input {
    width: 600px;
    height: 50px;
    padding: 8px 15px;
    background-color: black;
    color: var(--cor-primaria);
    border-radius: 15px;
    border: none;
    outline: none;
}

.pesquisar input:hover {
    outline: 1px solid var(--cor-secundaria-lighter);
    transition: outline 0.2s ease;
}

.pesquisar input:focus {
    border: 1px solid var(--cor-secundaria-lighter);
    transition: outline 0.3s ease-in-out;
    outline: 4px solid var(--cor-primaria-transparent-3);
}

.pesquisar button {
    margin-top: -0.5px;
    margin-left: -45px;
    background-color: var(--cor-secundaria-lighter);
    height: 50px;
    width: 45px;
    border-radius: 0 15px 15px 0;
    border: solid 1px var(--cor-secundaria-lighter);
    transition: all 0.2s ease;
}

.pesquisar button:hover {
    background-color: var(--cor-primaria-dark);
    box-shadow: none !important;
}

.pesquisar button:active {
    background-color: #d3d3d3;
}

.pesquisar i {
    color: var(--cor-primaria-lighter);
    margin-right: 5px;
}