.pesquisar {
    width: 600px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.pesquisar input {
    height: 50px;
    padding: 8px 15px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-radius: 15px;
    border: none;
    outline: 1px solid var(--cor-secundaria-lighter);
}

.pesquisar input:hover {
    border: 1px solid var(--cor-secundaria-lighter);
    transition: outline 0.3s ease-in-out;
    outline: 4px solid var(--cor-primaria-transparent-4);
}

.pesquisar input:focus {
    border: 1px solid var(--cor-secundaria-lighter);
    transition: outline 0.3s ease-in-out;
    outline: 4px solid var(--cor-primaria-transparent-4);
}

.pesquisar button {
    margin-top: -0.5px;
    margin-left: -45px;
    background-color: var(--cor-secundaria-lighter);
    height: 50px;
    width: 45px;
    border-radius: 0 15px 15px 0;
    border: solid 1px var(--cor-secundaria-lighter);
    transition: all 0.2s ease;
}

.pesquisar button:hover i {
    transform: scale(1.08);
    transition: transform 0.5s ease;
}

.pesquisar button:active {
    background-color: #d3d3d3;
}

.pesquisar i {
    color: var(--cor-primaria-lighter);
    margin-right: 5px;
}