main {
    padding-bottom: 20px;
}


/* comunidade.php */

.publicacoes-relevantes {
    border-radius: 3px;
    height: 290px;
    margin-bottom: 20px;
    position: relative;
    background-color: var(--cor-secundaria-light-transparent);
}

.publicacoes-relevantes .conteudo-pergunta {
    min-height: 0 !important;
    height: 120px;
    position: relative;
}

.salvar-post {
    position: relative;
}

.salvar-post:hover .legenda {
    transform: translateX(-50%);
    display: block;
    bottom: -55px;
    left: 50%;
    line-height: 1.4em;
}

.publicacoes-relevantes .fade-bottom {
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    z-index: 11;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--cor-secundaria-less-light));
}

.publicacoes-relevantes .bottom-options {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: -10px;
    width: 95%;
    z-index: 11;
}

.publicacoes-relevantes .bottom-options a {
    color: var(--cor-primaria-darker);
}

.publicacoes-relevantes .bottom-options a:hover {
    color: var(--cor-primaria);
}

.publicacoes-relevantes .conteudo-pergunta p {width: 90%; max-height: 90px; overflow: hidden;}

.slides {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
    padding: 15px;
}

.slides .box a {
    color: var(--cor-primaria);
}

.slides .box a:hover {
    color: var(--cor-primaria-light);
}

.dots {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    width: fit-content;
    z-index: 12;
}

.dot {
    height: 6px;
    width: 6px;
    margin: 0 5px;
    /* Aumente o espaçamento entre os botões */
    background-color: rgb(80, 80, 80);
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.neighbor {
    height: 8px;
    /* Tamanho para dots vizinhos */
    width: 8px;
    /* Tamanho para dots vizinhos */
}

.atual {
    height: 10px;
    width: 10px;
    background-color: rgb(120, 120, 120);
    /* Tamanho maior para o botão ativo */
}

.publicacoes-relevantes .arrows {
    z-index: 11;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
}

.publicacoes-relevantes .arrows button {
    cursor: pointer;
}

.search-container {
    display: flex;
    width: 100%;
}

.pesquisar {
    padding: 0 20px;
    margin-top: 10px;
    flex: 1;
    height: 50px;
    border-radius: 8px;
}

.pesquisar input {
    height: 50px;
    border-radius: 8px;
}

.pesquisar button {
    border-radius: 0 8px 8px 0;
    background-color: transparent;
    border: none;
}

#filtros {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.opcoes-comunidade {
    width: 100%;
    margin-bottom: 10px;
}

.opcoes-comunidade .nova-publicacao {
    display: block;
    margin: 10px 0 10px 0;
    width: fit-content;
}

.opcoes-comunidade .nova-publicacao p {
    margin: 0 10px;
    color: var(--cor-secundaria);
}

.nova-publicacao button {
    min-width: 100px;
}

.lista-discussoes {
    min-height: 800px;
    margin-bottom: 80px;
}

.top-contribuintes-box {
    min-width:250px;
}

.top-contribuintes-header, .publicacoes-relevantes-header {
    width: 100%;
    padding: 18px 20px;
    background-color: var(--cor-secundaria-less-light);
    border-bottom: 3px solid var(--cor-secundaria);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.top-contribuintes-header h4, .publicacoes-relevantes-header h4 {
    font-weight: 800;
}

.top-contribuintes {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria-less-light);
    max-height: 600px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 0;
    padding-top: 0;
    width: 100%;
}

.contributors {
    color: var(--cor-primaria-dark);
    margin: 0;
    padding: 0;
}

.contributors li {
    display: flex;
    padding: 10px 30px;
    padding-right: 25px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 8px;
}

.top-contribuintes .top-contributor::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px; /* largura do traço vertical */
    height: 100%;
}

.top-contribuintes .top-contributor:nth-child(1)::before {
    background-color: rgb(165, 140, 0); /* Cor dourada para o primeiro lugar */
}

.top-contribuintes .top-contributor:nth-child(2)::before {
    background-color: rgb(165, 165, 165); /* Cor prateada para o segundo lugar */
}

.top-contribuintes .top-contributor:nth-child(3)::before {
    background-color: #a36527; /* Cor de bronze para o terceiro lugar */
}

.contributors li h5,
.contributors li span {
    margin: 0;
    display: flex;
    align-items: center;
}

.engajamento {
    display: flex;
}

.engajamento li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 30px;
}

.engajamento li i {
    color: var(--cor-primaria-darker);
    margin-right: 8px;
}

.nova-publicacao {
    max-width: 700px;
    margin: auto;
}

.accordion-1 {
    margin-bottom: 30px;
    border-radius: 3px;
    padding: 0;
}

.accordion-1 .elemento {
    padding: 15px 20px 15px 20px;
    background-color: var(--cor-secundaria-lighter);
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
    width: 100%;
}

.accordion-1 .elemento h3 {
    margin: 0;
    color: var(--cor-primaria-dark);
    font-weight: bolder;
}

.resposta {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria-light);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.pergunta.ativo .resposta {
    max-height: 600px;
    animation: fade 1s ease-in-out;
}

.resposta-box {
    padding: 0 20px 30px 20px;
}


/* publicar.php */

.pergunta.ativo svg {
    transform: rotate(180deg);
}

.elemento i {
    display: flex;
    align-items: center;
    margin: 5px 0 0 10px;
    color: var(--cor-primaria-dark);
}

.elemento svg {
    margin-top: 10px;
    fill: var(--cor-secundaria-lighter);
    transition: transform 1s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.campo {
    background-color: var(--cor-secundaria-light);
    padding: 10px 20px 20px 20px;
    margin: 10px 0;
    border-radius: 5px;
}

.campo label {
    color: var(--cor-primaria);
    font-weight: bold;
}

.campo p {
    margin-bottom: 10px;
    font-size: 14px;
}

.texto {
    position: relative;
    width: 100%;
}

.botoes-formatar {
    width: calc(100% - 4px);
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--cor-secundaria-dark);
    padding: 10px;
}

.botoes-formatar button {
    margin-right: 3px;
    padding: 2px 6px;
    border: none;
    border-radius: 3px;
    background-color: black;
    cursor: pointer;
}

.botoes-formatar button:hover {
    background-color: var(--cor-secundaria-lighter);
}

.botoes-formatar button i {
    margin: 0;
    color: var(--cor-primaria);
    font-size: 15px;
}

main input,
textarea {
    border-radius: 8px;
    color: var(--cor-primaria);
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

main input {
    padding: 10px;
}

textarea {
    resize: none;
    padding: 50px 10px 20px 10px;
    min-height: 200px;
    overflow: hidden;
}

main input:focus,
textarea:focus {
    border: 1px solid var(--cor-secundaria-lighter);
    transition: outline 0.3s ease-in-out;
    outline: 4px solid var(--cor-primaria-transparent-3);
}

#campo-tags {
    display: flex;
    justify-content: space-between;
}

.select-categorias {
    padding: 0px;
}

.selecao-multiplo {
    display: inline-block;
}

.container-select {
    font-weight: 600;
    width: 150px;
    height: 50px;
    background-color: var(--cor-secundaria-light);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px var(--cor-secundaria-transparent);
}

.container-select span {
    color: var(--cor-primaria-lighter);
}

.container-select:hover {
    background-color: var(--cor-secundaria-lighter);
    box-shadow: 0px 3px 12px var(--cor-secundaria-transparent-2);
}

.opçoes_selecao {
    display: flex;
    height: 50px;
    width: 130px;
    padding-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.opçoes_selecao.open~.items {
    display: block;
}

.opçoes_selecao.open .flecha i {
    transform: rotate(-180deg);
    transition: 0.5s;
}

.list-search {
    position: relative;
    margin-bottom: 10px;
}

.list-search i {
    line-height: 35px;
    left: 10px;
    position: absolute;
}

.list-search input {
    height: 35px;
    flex: 1;
    padding: 0 15px 0 43px;
    outline: none;
}

.items {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    max-height: 270px;
    overflow-y: auto;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 16px;
    background-color: var(--cor-secundaria-light);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 9999;
}

.items p,
.items span {
    color: var(--cor-primaria-light);
}

.items::-webkit-scrollbar {
    width: 7px;
}

.items::-webkit-scrollbar-track {
    background: var(--cor-secundaria-lighter);
    border-radius: 25px;
}

.items::-webkit-scrollbar-thumb {
    background: var(--cor-secundaria-light);
    border-radius: 25px;
}

.item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.item:hover {
    background-color: var(--cor-secundaria-less-light);
    cursor: pointer;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    min-width: 16px;
    max-width: 16px;
    border: 1.5px solid;
    border-radius: 4px;
    margin-right: 12px;
    margin-left: 0;
    transition: all 0.3s ease-in-out;
}

.checkbox i {
    color: var(--red);
    font-size: 12px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox i {
    transform: scale(1);
}

.submeter {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


/* discussao.php */

.discussao {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.titulo-pergunta {
    height: 140px;
    padding: 20px;
    padding-left: 0;
    box-sizing: border-box;
    border-bottom: solid 1px var(--cor-secundaria-light-transparent);
    position: relative;
}

.titulo-pergunta h1 {
    font-weight: bolder;
    margin-bottom: 20px;
}

.post-info {
    position: absolute;
    bottom: 0;
    display: flex;
    margin-bottom: 15px;
}

.post-info p {
    display: flex;
    align-items: center;
}

.conteudo-pergunta {
    min-height: 200px;
    padding: 30px 60px;
    padding-right: 0;
    box-sizing: border-box;
    position: relative;
}

.op-toggle {
    display: none;
}

.conteudo-pergunta:hover .op-toggle,
.answer:hover .op-toggle {
    display: flex !important;
}

.op-toggle {
    position: absolute;
    right: 0;
    top: 30px;
}

.op-toggle .op-btn {
    padding: 5px 10px;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--cor-primaria);
}

.op-toggle .op-btn i {
    margin: 0;
}

.op-toggle .op-btn:hover {
    background-color: var(--cor-secundaria-light);
}

.op-toggle .acao-btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    background-color: var(--cor-secundaria-lighter);
    color: var(--cor-primaria-lighter);
}

.botoes {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 12;
}

.botoes button, .opcoes button {
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 5px 0px;
}

.botoes button i, .opcoes button i {
    color: var(--cor-primaria);
    font-size: 22px;
    margin: auto;
}

.answers {
    box-sizing: border-box;
    min-height: 100px;
}

.answers h5 {
    margin-top: 20px;
}

.answer {
    padding: 30px 60px;
    padding-bottom: 80px;
    min-height: 160px;
    box-sizing: border-box;
    position: relative;
    border-bottom: solid 1px var(--cor-secundaria-light-transparent);
}

.num-likes {
    display: block;
    width: 40px;
    font-size: 20px;
    text-align: center;
}

#filter-btn {
    position: unset;
}