.drop-area {
    font-size: 16px;
    border: 3px dashed var(--cor-secundaria-light);
    padding: 40px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.drop-area.active {
    border: 3px dashed var(--cor-primaria-lighter);
}

#imgInfo, #videoInfo {
    margin-top: 10px;
    font-weight: bold;
}