<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            * {margin: 0; padding: 0;}
            header {display: flex; height: 80px; width: 100%; border-bottom: 1px solid; position: relative; align-items: center;} 
            .redes-sociais {position: absolute; left: 90px; border: 1px solid;}
    </style>
</head>
<body>
    <header>
        <div class="redes-sociais">
            <button class="facebook">facebook</button>
            <button class="twitter">twittwer</button>
            <button class="instagram">intagram</button>
        </div>
        
    </header>
</body>
</html>