<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <style>
        .lock-sign {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(219, 219, 219);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lock-sign:hover {
            background-color: rgb(204, 204, 204);
        }

        .lock-sign i {color: rgb(78, 78, 78); font-size: 13px;}
    </style>
</head>

<body>
    <div class="lock-sign"><i class="fa-solid fa-lock"></i></div>
</body>

</html>